services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: rbms
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    environment:
      PORT: 3000
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/rbms?schema=public
    depends_on:
      - postgres
    ports:
      - '3000:3000'

  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    ports:
      - '5173:5173'

volumes:
  pg_data:
